ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(216, 216, 216);
}

li {
  float: left;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.ativar) {
  background-color: #111;
}

.ativar {
  background-color: rgb(238, 43, 9);
}

.fundo {
    background-color: rgb(213, 214, 216);
}

.container {
    position: relative;
    margin-top: -8VH;
  }

.div_inicial {
    opacity: 0.90;
    height: 80vh;
    width: 205.6VH;
    position: absolute;
    top: 48VH;
    left: 48VW;
    transform: translate(-50% ,-50%);
}

.logotipo {
    height: 35vh;
    position: absolute;
    top: 37vh;
    left: 48vw;
    transform: translate(-50% ,-50%);
    border-radius: 50%;
}

.H1 {
   font-family: 'Montserrat', sans-serif;
    font-size: 109px;
    position: absolute;
    top: 46VH;
    left: 49VW;
    transform: translate(-50% ,-50%);
    color: rgb(238, 43, 9);
}

.P1 {
    font-size: 30px;
    position: absolute;
    top: 56VH;
    left: 49VW;
    transform: translate(-50% ,-50%);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace ;
}
.conteudo{
  font-family:'Montserrat',sans-serif;
  font-size: 30px;
  white-space: normal;
  position: relative;
    top: 136VH;
    left: 50VW;
    transform: translate(-50% ,-50%);

}

.container2 {
    position: relative;
    margin-top: -8VH;
  }

.fundo2 {
    height: 800px;
    width: 1270px;
    background-color: rgb(77, 77, 77);
    padding: 50px;
    position: absolute;
    top: 155VH;
    left: 48VW;
    transform: translate(-50% ,-50%);
}