ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(216, 216, 216);
}

li {
  float: left;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.ativar) {
  background-color: #111;
}

.ativar {
  background-color: rgb(238, 43, 9);
}

.fundo {
    background-color: rgb(213, 214, 216);
}

.container {
    position: relative;
    margin-top: -8VH;
  }

.logotipo {
    height: 35vh;
    position: absolute;
    top: 37vh;
    left: 48vw;
    transform: translate(-50% ,-50%);
    border-radius: 50%;
}

.H1 {
    font-size: 109px;
    position: absolute;
    top: 46VH;
    left: 49VW;
    transform: translate(-50% ,-50%);
    color: rgb(238, 43, 9);
    font-family: 'Courier New', Courier, monospace ;
}

.P1 {
    font-size: 30px;
    position: absolute;
    top: 56VH;
    left: 49VW;
    transform: translate(-50% ,-50%);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}

.box_imagem {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 100vh;
    left: 50vw;
    transform: translate(-50% ,-50%);
}

.box_esquerda1 {
    background-color: rgb(221, 89, 49);
    width: 500px;
    height: 400px;
    position: absolute;
    top: 154vh;
    left: 360px;
    transform: translate(-50% ,-50%);
}

.paragrafo_caixa_esquerda1 {
    font-size: 26px;
    width: 450px;
    position: absolute;
    top: 70px;
    left: 260px;
    transform: translate(-50% ,-50%);
}

.grafico_caixa_esquerda1 {
    width: 80px;
    padding: 05px;
    position: absolute;
    top: 150px;
    left: 70px;
    transform: translate(-50% ,-50%);
}

.paragrafo_grafico_caixa_esquerda1 {
    font-size: 24px;
    width: 350px;
    position: absolute;
    top: 170px;
    left: 290px;
    transform: translate(-50% ,-50%);
}

.caminhao_caixa_esquerda1 {
    width: 350px;
    padding: 150px;
    position: absolute;
    top: 390px;
    left: 100px;
    transform: translate(-50% ,-50%);
    border-radius: 50%;
}

.floco_neve {           
    width: 350px;
    padding: 150px;
    position: absolute;
    top: 115vh;
    left: 1000px;
    transform: translate(-50% ,-50%);
    border-radius: 50%;
}

.box_meio {
    background-color: rgb(189, 190, 192);
    width: 1798px;
    padding: 100px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 189vh;
    left: 350px;
    transform: translate(-50% ,-50%);
}

.tomate {
    width: 120px;
    padding: 120px;
    position: absolute;
    top: 135px;
    left: 1300px;
    transform: translate(-50% ,-50%);
    border-radius: 50%;
}

.paragrafo_caixa_meio {
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 1300px;
    transform: translate(-50% ,-50%);
}

.div_inicial {
    opacity: 0.90;
    height: 80vh;
    width: 208VH;
    position: absolute;
    top: 48VH;
    left: 48VW;
    transform: translate(-50% ,-50%);
}